@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply h-full;
  }
  
  body {
    @apply h-full bg-white dark:bg-gray-900 text-gray-900 dark:text-white;
  }

  #__next {
    @apply h-full;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  transition: background-color 0.3s, color 0.3s;
}

/* ✅ Hide scrollbar but allow scrolling */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}